body{
    font-family: serif;
    background-color:white;
}
.calculator{
    background: plum;
    border-radius: 40px;
    width:260px;
    padding:20px;
    margin:10px;
}
#display{
    width:260%;
    height:50px;
    font-size:18px;
    background: white;
    color:black;
    text-align:right;
    margin: bottom 40px;;
}
button{
    width: 60px;
    height:50px;
    padding:20px ;
    font-size: 16px;
   

}